<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*"
           modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform
      processPath="C:\Users\Fabulouscode\AppData\Local\Programs\Python\Python314\python.exe"
      arguments="&quot;E:\Python Project\CanteenManagementSystem\deploy\iis\run_iis.py&quot;"
      stdoutLogEnabled="true"
      stdoutLogFile=".\logs\iis_stdout"
      startupTimeLimit="120"
      processesPerApplication="1">
      <environmentVariables>
        <environmentVariable name="DJANGO_SETTINGS_MODULE" value="canteen_system.settings" />
        <environmentVariable name="PYTHONPATH" value="E:\Python Project\CanteenManagementSystem" />
        <environmentVariable name="PYTHONUNBUFFERED" value="1" />
        <environmentVariable name="FORCE_SCRIPT_NAME" value="/cms" />
      </environmentVariables>
    </httpPlatform>
    <security>
      <requestFiltering allowDoubleEscaping="true" />
    </security>
  </system.webServer>
</configuration>